# Ignore everything.
**

# But include these files...
!.gitignore
!ChainMiddlewares.go
!go.mod
!go.sum
!LICENSE
!MwContextKey.go
!MwCorrelationId.go
!MwSecurityHeaders.go
!MwValidateSessions.go
!README.md
